body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
	
	background-color: #849d8f;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	display: inline-block;

	font: inherit;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
  text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border:none;
  border-radius: 15px; 

  cursor: pointer;
}

.button:hover,
.button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1); 
}

.site-bg-wrapper {
	min-width: 1200px;

	background-color: #849d8f;
	background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
 	background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  -o-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-bg-wrapper::before,
.site-bg-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.site-wrapper {
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}

.main-header {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.header-right-side {
	width: 272px;
}

.main-navigation {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	width: 560px;
}

.main-header-logo {
	width: 154px;
	height: 64px;
	padding-right: 11px;
	padding-top: 9px;
	margin-right: 12px;
}

.site-navigation {
	position: relative;
	
	margin: 0;
	margin-top: 23px;
	padding: 0;
	width: 380px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.site-navigation a {
	position: relative;

	display: block;
	padding-top: 7px;
	margin-right: 28px;

	vertical-align: middle;
	color: #ffffff;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.site-navigation a:hover,
.site-navigation a:focus {
	padding: 7px 13px;
	margin-right: 15px;
	margin-left: -13px; 
  
	text-decoration: none;
	color: #000000;

	background-color: #ffffff;
	border-radius: 20px;
	border-bottom: 0;
}

.site-navigation a:active {
	color: #000000;

	background-color: #ffffff;
	border-radius: 20px;
	border-bottom: 0;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgb(105, 105, 105);
	        box-shadow: inset 0px 1px 1px 0px rgb(105, 105, 105);
}

.inner-page .site-navigation-current {
	display: block;
	padding: 7px 13px;
	margin-left: -13px;
	margin-right: 15px;

	text-decoration: none;

	background-color: #d07058;
	border-radius: 20px;
	border: 0;
}

.site-navigation,
.categories {
	list-style: none;
}

.site-navigation  .sub-menu {
	padding-bottom: 15px;
}

.sub-menu:hover .categories,
.sub-menu:focus .categories {
	z-index: 30;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;	
}

.categories {
	position: absolute;
	top: 37px;
	left: -19px;

	display: none;
	margin: 0;
	padding: 0;
	padding-bottom: 3px;
	
	background-color: #f8f7f4;
	border-radius: 4px;
}

.categories a {
	display: block;

  margin: 0;
  padding-right: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;

	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	text-decoration: none;
	color: #323232;

	border: 0;
}

.categories a:hover,
.categories a:focus {
	margin: 0;
	padding-right: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;

	background-color: #fbded7;
	border-radius: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.categories a:active {
	background-color: #f6b5a5;
}

.categories .categories-item-current {
	padding-right: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  
  font-weight: 400;
	color: #fff;

	background-color: #d07058;
}

.novelties a {
 	padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 12px;
  margin: 0 8px;

	font-weight: 700;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.novelties a:hover,
.novelties a:focus {
	margin: 0;
	padding-top: 10px;
  padding-left: 20px;
	padding-bottom: 13px;

	border-radius: 4px 4px 0 0;
	border-bottom: 0;

}

.user-block {
	position: relative;
	
	margin-top: 23px;
	margin-bottom: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.user-block span {
	display: block;
	
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
}


.user-block .search-icon:hover,
.user-block .search-icon:focus,
.user-block .signup-icon:hover,
.user-block .signup-icon:focus,
.user-block .basket-icon:hover,
.user-block .basket-icon:focus,
.inner-page .basket-icon {
	color: #000000;

	background-color: #f8f7f4;

	cursor: pointer;
}

.user-block .search-icon,
.user-block .signup-icon {
	padding-left: 27px;
	padding-top: 8px;
}

.user-block .form-field {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 310px;
	padding: 9px 13px;
	padding-bottom: 10px;

	font: inherit;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #323232;

	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.52);
}

.user-block .form-field:hover {
	padding: 8px 12px;

	border-color: rgba(154, 154, 154, 0.52);
	border-width: 2px;
}

.user-block .form-field:focus {
	padding: 8px 12px;

	outline: none;
	border-color: rgba(46, 136, 228, 0.52);
	border-width: 2px;
}

.user-block .form-field::-webkit-input-placeholder {
	color: #999999;
	font-weight: 400;
}

.user-block .form-field::-moz-placeholder {
	color: #999999;
	font-weight: 400;
}

.user-block .form-field:-moz-placeholder {
	color: #999999;
	font-weight: 400;
}

.user-block .form-field:-ms-input-placeholder {
	color: #999999;
	font-weight: 400;
}

.signup-form-link {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;

	border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.signup-form-link:hover,
.signup-form-link:focus,
.signup-form-link:active {
	color: #e84d37;

	border-color: rgba(232, 77, 55, 0.3);
}

.search-form,
.signup-form,
.basket-list {
	position: absolute;
	z-index: 1;

	display: none;
	
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search,
.signup,
.basket {
	padding-bottom: 5px;
}

.search-form {
	top: 36px;
	left: -299px;

	padding: 20px 15px;
	padding-right: 16px;
}

.search-form-field {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 310px;
	padding: 9px 13px;
	padding-bottom: 10px;

	border-radius: 5px;
}

.search-form-field:hover,
.search-form-field:focus {
	margin-bottom: 1px;
}

.user-block .search-icon {
	position: relative;

	padding: 16px;
	margin-right: 10px;
	margin-left: 10px;

	border-radius: 50%;
}

.user-block .search-icon::before {
	content: "";

	position: absolute;
	top: 7px;
	left: 7px;
	

	width: 21px;
	height: 21px;

	background-image: url("../img/search-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.search:hover .search-form,
.search:focus .search-form {
	display: block;
}

.search:hover .search-icon::before,
.search:focus .search-icon::before {
	background-image: url("../img/search-icon-hover.svg");
}

.signup-form {
	top: 36px;
	left: -131px;

	padding-top: 6px;
	padding-left: 18px;
	padding-right: 16px;
	padding-bottom: 18px;
}

.signup-links-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.sighup-form-user-links {
	width: 122px;
}

.signup-form p {
	margin-bottom: 20px;
}

.signup-form .signup-form-field {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 243px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 8px;
}

.signup-form .signup-form-field:hover,
.signup-form .signup-form-field:focus {
	padding: 7px 13px;
	padding-bottom: 9px;
}

.signup-form-button {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 102px;
	padding: 11px 13px;

	border-radius: 20px;
}

.user-block .signup-icon {
	position: relative;

	padding-left: 44px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 9px;
	margin-right: 10px;
}

.user-block .signup-icon::before {
	content: "";

	position: absolute;
	left: 16px;
	top: 6px;

	width: 21px;
	height: 21px;

	background-image: url("../img/signup-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.signup:hover .signup-form,
.signup:focus .signup-form {
	display: block;
}

.signup:hover .signup-icon::before,
.signup:focus .signup-icon::before  {
	background-image: url("../img/signup-icon-hover.svg");
}

.basket {
	position: relative;
}

.basket-icon {
	padding-top: 7px;
	padding-bottom: 9px;
	padding-left: 45px;
	padding-right: 33px;
}

.inner-page .basket-icon {
  padding-left: 43px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 9px;
}

.basket-icon::before {
	content: "";

	position: absolute;
	left: 16px;
	top: 6px;

	width: 21px;
	height: 21px;

	background-image: url("../img/basket-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.inner-page .basket-icon::before {
	background-image: url("../img/basket-icon-red.svg");
}

.basket .basket-icon:hover::before,
.basket .basket-icon:focus::before {
	background-image: url("../img/basket-icon-red.svg");
}

.basket:hover .basket-list,
.basket:focus .basket-list {
	display: block;
}

.basket-list {
	position: absolute;
	top: 36px;
	right: 0px;
	z-index: 20;

	width: 508px;
	padding-top: 16px;
	padding-left: 18px;
	padding-bottom: 20px;
	padding-right: 13px;
	
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;

	border-radius: 4px;
}

.basket-list table {
	margin: 0;
	padding: 0;
	padding-right: 16px;
	padding-bottom: 4px;
	margin-bottom: 14px;

	border-bottom: 1px solid #cacac7;
}


.basket-list p {
	width: 150px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-bottom: 14px;

	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	text-align: right;
}

.basket-list-item img {
	border-radius: 50%;
	margin-right: 8px;
}

.basket-list-item td {
	padding-bottom: 15px;
}

.basket-list-item-strawberry td:nth-child(3) {
	width: 220px;
	vertical-align: bottom;
	padding-bottom: 10px;
}

.basket-list-item-strawberry td:last-child {
	padding-top: 10px;

	vertical-align: top;	
}

.basket-list-item td:last-child {
	min-width: 50px;
}

.basket-list-item td:nth-child(4) {
	display: block;
	min-width: 100px;
	margin-right: 19px;
	margin-left: 23px;
	margin-top: 9px;
}

.basket-list-item .basket-list-item-price {
	display: inline;

	color: #999999;
}

.basket-list-item-close {
	width: 11px;
	height: 11px;
	margin-right: 5px;
	margin-bottom: 5px;

	border: 0;
	background-color: #f8f7f4;
	background-image: url("../img/cross-small.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.basket-list-button {
	display: block;
	width: 170px;
	margin-top: auto;
	margin-left: auto;
	padding-top: 9px;
	padding-bottom: 12px;
	padding-right: 1px;

	border-radius: 20px;
}

.main-header-contacts {
	width: 167px;
	padding: 0;
	margin: 0;
	margin-left: auto;

	font-size: 14px;
	line-height: 16px;
}

.main-header-contacts-time {
	margin-left: 16px;
}

.main-header-contacts-phone {
	display: block;
	margin-top: 4px;

	font-size: 22px;
	line-height: 24px;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	margin-top: -18px;
	margin-bottom: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;

	font-size: 14px;
	line-height: 16px;
	font-weight: 400;

	list-style: none;
}

.breadcrumbs li {
	position: relative;

	margin-right: 21px;
}

.breadcrumbs li:not(:last-child)::after {
	content: "»";

	position: absolute;
	top: -1px;
	right: -14px;
}

.breadcrumbs a {
	color: #ffffff;

	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;

	border-bottom-color: #ffbc9e;
}

.container h1 {
	margin: 0;
	padding: 0;
	margin-bottom: 26px;

	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.slider {
	position: relative;

	padding-top: 276px;
	margin-bottom: 40px;

	text-align: center;
}

.slide {
	display: none;
}
.slider-list {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 28px;

	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
}

.slide-button {
	display: inline-block;
	padding: 12px 44px;

	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	text-align: center;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.slide-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 24px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider-input-1:hover ~ .site-bg-wrapper label[for="product-1"],
.slider-input-2:hover ~ .site-bg-wrapper label[for="product-2"],
.slider-input-3:hover ~ .site-bg-wrapper label[for="product-3"],
.slider-input-1:focus ~ .site-bg-wrapper label[for="product-1"],
.slider-input-2:focus ~ .site-bg-wrapper label[for="product-2"],
.slider-input-3:focus ~ .site-bg-wrapper label[for="product-3"] {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-input-1:checked ~ .site-bg-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

.slider-input-2:checked ~ .site-bg-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

.slider-input-3:checked ~ .site-bg-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

.slider-input-1:checked ~ .site-bg-wrapper .slider-item-1,
.slider-input-2:checked ~ .site-bg-wrapper .slider-item-2,
.slider-input-3:checked ~ .site-bg-wrapper .slider-item-3 {
  display: block;
}

.slider-input-1:checked ~ .site-bg-wrapper label[for="product-1"],
.slider-input-1:active ~ .site-bg-wrapper label[for="product-1"],
.slider-input-2:checked ~ .site-bg-wrapper label[for="product-2"],
.slider-input-2:active ~ .site-bg-wrapper label[for="product-2"],
.slider-input-3:checked ~ .site-bg-wrapper label[for="product-3"],
.slider-input-3:active ~ .site-bg-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.filters p {
	padding: 0;
	margin: 0;
}

.filters {
	margin-bottom: 40px;
}

.filters ul {
	margin: 0;
	padding: 0;

	list-style: none;
}


.filters fieldset,
.filters legend {
	padding: 0;
	margin: 0;

	border: 0;
}

.filters label,
.filters legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.fillers ul,
.richness ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.sorting {
	width: 195px;
}

.filters-form-price {
	width: 219px;
}

.filters-form {
	width: 857px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.filters-form-option label,
.filters-form-select-sorting {
	font-size: 16px;
	line-height: 18px;
}

.sorting label {
	display: block;
	padding-left: 16px;
	margin-bottom: 7px;
}

.filters-form select {
	padding: 8px 0;
	padding-left: 15px;
	padding-right: 28px;

	background-image: url("../img/select-arrow.svg");
	background-repeat: no-repeat;
	background-position: 166px center;
	border: 0;

	-moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none

	cursor: pointer;
}

.filters-form select::-ms-expand {
	display: none;
}

.filters-form select:hover {
	color: #323232;

	background-image: url("../img/select-arrow-hover.svg");
	background-repeat: no-repeat;
	background-position: 166px center;
}

.filters-form select:focus {
	color: #323232;

	background-image: url("../img/select-arrow-hover.svg");
	background-repeat: no-repeat;
	background-position: 166px center;
	background-color: #fff;
}

.filters-form-price label {
	display: block;
	padding-left: 14px;
	padding-bottom: 8px;
}

.input-range-bg-wrapper {
	position: relative;

	height: 36px;
	margin-right: 2px;
	
}

.input-range-bg-wrapper::after {
	content: "";

	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;


	width: 176px;
	height: 4px;
	margin-top: -2px;
	margin-left: -88px;

	background-color: rgba(248, 247, 244, 0.5);
}

.input-range-bg-wrapper::before {
	content: "";

	position: absolute;
	z-index: 1;
	top: 50%;
	left: 44px;
	
	height: 4px;
	width: 106px;
	margin-top: -2px;

	background-color: #f8f7f4;
}

.input-range-indicators {
	cursor: pointer;
}

.input-range-indicators::before {
	content: "";

	position: absolute;
	z-index: 10;

	width: 20px;
	height: 22px;

	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	cursor: pointer;
}

.input-range-indicators-min::before {
	top: 50%;
	left: 34px;

	margin-top: -10px;
}

.input-range-indicators-max::before {
	top: 50%;
	right: 65px;

	margin-top: -10px;
}

.input-range-indicators-min:hover::before,
.input-range-indicators-max:hover::before {
	transform: scale(1.1);
}

.richness {
	width: 415px;	
}

.richness legend {
	display: block;
	padding-left: 14px;
	padding-bottom: 8px;
}

.richness ul {
	padding: 7px 0;
	padding-left: 46px;
	padding-right: 16px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.richness label {
	position: relative;

	cursor: pointer;
}

.richness label::before {
	content: "";

	position: absolute;
	top: 50%;
	left: -32px;

	width: 22px;
	height: 22px;
	margin-top: -11px;

	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position:  0 0;
	background-size: contain;
}

.filters-form-option-input-radio:checked + label::before {
	background-image: url("../img/radio-on.svg");
}

.filters-form-option-input + label::before {
	opacity: 0.8;
}

.filters-form-option-input:hover + label::before,
.filters-form-option-input:focus + label::before {
	opacity: 1;
}

.filters-form-option-input:disabled + label::before {
	opacity: 0.4;
}

.fillers {
	width: 703px;

}
.fillers legend {
	display: block;
	padding-top: 15px;
	padding-left: 15px;
	margin-bottom: 5px;
}

.fillers ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 8px 20px;
	padding-left: 46px;
}

.fillers label {
	position: relative;

	cursor: pointer;
}

.fillers label::before {
	content: "";

	position: absolute;
	top: 50%;
	left: -32px;

	width: 20px;
	height: 20px;
	margin-top: -10px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	
}

.filters-form-option-input-checkbox:checked + label::before {
	width: 24px;
	
	background-image: url("../img/checkbox-on.svg");
	
}

.filters ul,
.input-range-bg-wrapper,
.filters-form select {
	background-color: #a6b8ae;
	border-radius: 17.5px;
}

.filters-form select {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.filters-form select:hover {
	color: #000000;
}

.sorting-option {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.filters-form-button {
	margin-top: 34px;
	padding: 7px 25px;

	font: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;

	background-color: #a6b8ae;
	border: 2px solid #ffffff;
	border-radius: 17.5px;

	cursor: pointer;
}

.filters-form-button:hover {
	color: #323232;

	background-color: #fbfcfb;
}

.filters-form-button:active {
	padding: 9px 27px;

  background-color: rgb(237, 237, 237);
  -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
          box-shadow: inset 0px 2px 1px 0px #696969;
  border: 0;
}

.offers {
	margin-bottom: 40px;
}

.offers-list {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-align-items: flex-start;
	    align-items: flex-start;

	list-style: none;
}

.offers-list-item {
	width: 552px;
	padding-left: 9px;
	padding-top: 13px;
	padding-bottom: 23px;

	border-radius: 15px;
}

.offers-list-item h3 {
	margin: 0;
	padding: 0;
	margin-left: 10px;
	margin-bottom: 17px;

	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.offers-list-item p {
	margin: 0;
	padding: 0;
	margin-left: 10px;
	margin-right: 27px;
	margin-bottom: 45px;

	font-size: 18px;
	line-height: 22px;
}

.offers-list .button {
	display: block;
  width: 165px;
  margin-left: auto;
  margin-right: 22px;
  padding: 10px 0px;

  border-radius: 20px;
}

.offers-list-item-raspberry {
	background-color: #631a27;
	background-image: url("../img/background-strawberry.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;	
}

.offers-list-item-chocolate {
	background-color: #4d3428;
	background-image: url("../img/background-chocolate.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;	
}

.offers-list-item-chocolate h3 {
	margin-bottom: 15px;
	margin-left: 12px;
}


.offers-list-item-chocolate p {
	margin-left: 11px;
}

.offers-list-item-chocolate .button {
	padding: 11px 11px;
}

.catalog {
	margin-bottom: 38px;
}

.inner-page .catalog {
	margin-bottom: 34px;
}

.catalog-list {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	list-style: none;
}

.catalog-list-item {
	position: relative;
	
	width: 267px;
	margin-right: 26px;
	text-align: center;
}

.inner-page .catalog-list-item {
	margin-bottom: 36px;
}

.catalog-list-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-list-item:nth-child(5) .catalog-list-item-title {
	margin-left: 4px;
}

.catalog-list-item:nth-child(9) .catalog-list-item-title {
	margin-left: 9px;
	padding-top: 2px;
}

.catalog-list-item::after {
	content: "";

	position: absolute;
	top: -6px;
	left: -13px;
	z-index: 1;	
}

.catalog-list-item:hover {
	cursor: pointer;
}
 
 .catalog-list-item:hover::after,
 .catalog-list-item:focus::after {
 	z-index: 1;
 	width: 295px;
	height: 405px;

	background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

}

.catalog-list-item:hover .button,
.catalog-list-item:hover img,
.catalog-list-item:hover .catalog-list-item-title,
.catalog-list-item:hover h3 {
	z-index: 2;
}

.popular .catalog-list-item::before {
	content: "";

	z-index: 3;

	position: absolute;
	top: 0;
	left: 0;

	width: 61px;
	height: 61px;

	background-image: url("../img/hit.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.catalog-list-item .button {
	position: absolute;
	left: 35px;
	bottom: -53px;

	display: none;
	padding: 10px 16px;

	border-radius: 20px;
	
}

.catalog-list-item:hover .button,
.catalog-list-item:focus .button {
	display: block;
}

.catalog-list-item img {
	position: relative;

	border-radius: 50%;
}

.catalog-list-item .price {
	position: absolute;
	z-index: 3;
	top: 210px;
	left: 0;

	margin: 0;
	padding: 0;

	font-size: 45px;
	line-height: 45px;
}

.price::after {
	content: "";

	position: absolute;
	top: 5px;
	right: 44px;

	width: 29px;
	height: 33px;


	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-list-item .weight {
	padding: 0;
	margin: 0;
	padding-left: 35px;

	font-size: 30px;
}

.catalog-list-item-title {
	position: relative;

	display: block;
	margin-top: 9px;
	
	color: rgba(255, 255, 255, 0.2);
	text-decoration: underline;
	
}

.catalog-list-item-title:hover,
.catalog-list-item-title:focus,
.catalog-list-item-title:active {
	color: #ffbc9e;	
}

.catalog-list-item-title h3 {
	position: relative;

	margin: 0;
	padding: 0;

	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}

.catalog-list-item-title:hover h3,
.catalog-list-item-title:focus h3,
.catalog-list-item-title:active h3 {
	color: #ffbc9e;	
}

.features {
	margin-bottom: 40px;
	padding-right: 20px;
	padding-bottom: 1px;
	padding-top: 25px;
	padding-left: 20px;

	color: #323232;

	background-color: #e2d6bc;
	background-image: url("../img/background-wafer.jpg");
	background-repeat: repeat;
	background-position: 0 0;
	border-radius: 15px;
}

.features .description {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	letter-spacing: 0.2px;
}

.features-list {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	list-style: none;
}

.features-item {
	position: relative;

	width: 482px;
	padding-left: 56px;
	margin-bottom: 22px;

	font-weight: 400;
}

.features-item::before {
	content: "";

	position: absolute;
	top: -12px;
	left: 0;

	width: 49px;
	height: 49px;

	background-repeat: no-repeat;
	background-position: 0 0;
}

.features-item:first-child::before {
	background-image: url("../img/features-shovel-icon.svg");
}

.features-item:nth-child(2)::before {
	left: -3px;
  top: -14px;

	background-image: url("../img/features-cow-icon.svg");	
}

.features-item:nth-child(3)::before {
	background-image: url("../img/features-leaf-icon.svg");
}

.features-item:last-child::before {
	left: -3px;

	background-image: url("../img/features-thermometer-icon.svg");
}

.blog-mailing-wrapper {
	margin-bottom: 38px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-align-items:  flex-start;
	    align-items: flex-start;
}

.blog {
	width: 542px;
	padding-top: 22px;
	padding-left: 19px;
	padding-bottom: 82px;

	color: #323232;

	background-image: url("../img/background-blog.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	border-radius: 15px;
}

.blog h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 6px;

	font-size: 16px;

	font-weight: 500;
}

.blog a {
	display: block;
	width: 285px;

	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
	color: #323232;
}

.blog a:hover,
.blog a:focus {
	color: #e84d37;
}

.mailing {
	width: 560px;

	color: #5a5a5a;
	
	background-image: url("../img/bg-mailing.svg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	border-radius: 15px;
}

.mailing-bg-wrapper {
	margin: 5px;
	padding-top: 28px;
	padding-left: 22px;
	padding-bottom: 35px;
	padding-right: 20px;

	background-color: #f8f7f4;
	border-radius: 15px;
}

.mailing p {
	padding: 0;
	margin: 0;
	margin-bottom: 37px;

	font-weight: 400;
}

.mailing-form-field {
	width: 339px;
	padding: 9px 13px;
	margin-right: 9px;
	font: inherit;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;

	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

.mailing-form-field::-webkit-input-placeholder {
	color: #999999;
	font-weight: 400;
}

.mailing-form-field::-moz-placeholder {
	color: #999999;
	font-weight: 400;
}

.mailing-form-field:-moz-placeholder {
	color: #999999;
	font-weight: 400;
}

.mailing-form-field:-ms-input-placeholder {
	color: #999999;
	font-weight: 400;
}

.mailing-form-field:hover {
	padding: 8px 12px;

	border-color: rgba(154, 154, 154, 0.52);
	border-width: 2px;
}

.mailing-form-field:focus {
	padding: 8px 12px;
	
	outline: none;
	border-color: rgba(46, 136, 228, 0.52);
	border-width: 2px;
}

.mailing-form-button {
	padding: 10px 18px;
	margin-bottom: 2px;
	
	border-radius: 20px;
}

.contacts {
	position: relative;
	
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 13px;

	color: #323232;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: top center;	
}

.contacts iframe {
	border: 0;
}

.contacts-bg-wrapper {
	position: absolute;
  top: 62px;
  right: 0;

	width: 252px;
	padding-top:  30px;
	padding-bottom: 29px;
	padding-left: 24px;
	padding-right: 25px;
	margin-left: auto;
	margin-right: 27px;

	background-color: #fefefe;
	border-radius: 15px;
}

.contacts p {
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
}

.contacts p:first-child {
	padding-right: 100px;
}

.contacts .address {
	display: block;
	margin-top: 2px;
	margin-bottom: 16px;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.contacts .phone {
	display: block;
  margin-top: 7px;
  margin-bottom: 1px;
    
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;	
}

.contacts-button {
	margin-top: 22px;
	padding: 11px 27px;

	border-radius: 21px;
}

.pagination-list {
	position: relative;

	width: 190px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-top: 48px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	
	list-style: none;
}

.pagination-item a {
	padding: 3px 8px;

	color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;

	cursor: pointer;
}

.pagination-item a:active,
.pagination-item-current a {
	color: #000000;

	background-color: #ffffff;
	border-radius: 50%;
}

.previous-page a:hover,
.next-page a:hover {
	background-color: #849d8f;

	cursor: default;
}

.pagination-list .previous-page::before {
	content: "";

	position: absolute;
	top: 50%;
	left: 0;

	width: 8px;
	height: 12px;
	margin-top: -6px;
	
	background-image: url("../img/icon-right-small.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.2;

	-webkit-transform: rotate(180deg);

	    -ms-transform: rotate(180deg);

	        transform: rotate(180deg);
	
	cursor: pointer;
}

.pagination-list .next-page::before {
	content: "";

	position: absolute;
	top: 50%;
	right: 0;

	width: 8px;
	height: 12px;
	margin-top: -6px;

	background-image: url("../img/icon-right-small.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	
	cursor: pointer;
}

.main-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 20px;
}

.inner-page .main-footer {
	padding-top: 17px;

	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social,
.footer-navigation {
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-social {
	position: relative;
	z-index: 1;

	width: 187px;	
	margin-top: 18px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.inner-page .footer-social {
	margin-top: 19px;
}

.inner-page .footer-navigation {
	margin-top: 12px;
}

.social-button {
	position: relative;
	
	display: block;
	width: 32px;
	height: 32px;
	
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.5);	
}

.social-button-twitter::before {
	content: "";

	position: absolute;
	z-index: -1;

	width: 32px;
	height: 32px;

	background-image: url("../img/twitter-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;  

	opacity: 0.8;
}

.social-button-instagram::before {
	content: "";

	position: absolute;
	z-index: -1;

	width: 32px;
	height: 32px;

	background-image: url("../img/instagram-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.8;
}

.social-button-facebook::before {
	content: "";
	
	position: absolute;
	z-index: -1;

	width: 32px;
	height: 32px;

	background-image: url("../img/facebook-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.8;
}

.social-button-vkontakte::before {
	content: "";

	position: absolute;
	z-index: -1;

	width: 32px;
	height: 32px;

	background-image: url("../img/vk-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.8;
}

.social-button:hover,
.social-button:focus {
	border: 3px solid rgba(255, 255, 255, 0.7);	
}

.social-button:hover::before,
.social-button:focus::before {
	opacity: 1;
}

.social-button:active {

	opacity: 1;

  -webkit-box-shadow: inset 0px 2px 1px 0px #888888;

          box-shadow: inset 0px 2px 1px 0px #888888;  
}

.footer-navigation {
	width: 336px;
	margin-left: 214px;
	margin-top: 14px;
	padding-left: 21px;
	padding-bottom: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;	
}

.footer-navigation a {
	margin-right: 31px;

	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-navigation li:nth-child(2) {
	margin-right: 56px;
}


.footer-navigation .provider-block {
	position: relative;

	font-weight: 700;
}

.provider-block::before {
	content: "";

	position: absolute;
	top: 3px;
	left: -22px;

	width: 15px;
	height: 13px;

	background-image: url("../img/footer-heart.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-navigation a:active {
	color: #ffbc9e;

	border-bottom-color: rgba(255, 188, 158, 0.3);
}

.footer-copyright {
	position: relative;
	
	width: 190px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-top: 0px;
	padding-top: 44px;

	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #fefefe;
}

.footer-copyright .logo-htmlacademy {
	position: absolute;
	top: 2px;
	left: 2px;

	display: block;
	width: 108px;
	height: 39px;

	background-image: url("../img/logo-htmlacademy.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	border-bottom: 0;
}

.footer-copyright a {
	color: #fefefe;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
	color: #ffbc9e;

	border-bottom-color: rgba(255, 188, 158, 0.3);
}

.modal {
	display: none;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px); 
	}

	70% {
		transform: translateY(-30px); 
	}

	90% {
		transform: translateY(-10px); 
	}

	100% {
		transform: translateY(0); 
	}
}

.modal-bounce {
	animation-name: bounce;
	animation-duration: 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-show {
	display: block;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.3)
}

.modal-feedback {
	position: fixed;
	top: 200px;
	left: 50%;
	z-index: 50;
	
	width: 428px;
	padding: 0 24px;
	padding-top: 17px;
	padding-bottom: 27px; 
	margin-left: -236px;
	
	color: #323232;

	background-color: #f8f7f4;
	border-radius: 8px;
}


.modal-feedback b {
	display: block;
	margin-bottom: 17px;

	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}

.modal-feedback-form p {
	margin: 0;
	padding: 0;
}

.modal-feedback-field,
.modal-feedback-field-area {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0 13px;
	padding-top: 10px;
	padding-bottom: 8px; 
	
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;

	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.52);
}

.modal-feedback-field {
	width: 267px;
	margin-bottom: 20px;
}

.modal-feedback-field-area {
	width: 100%;
	margin-bottom: 11px;
	padding-top: 9px;
}

.modal-feedback-field::-webkit-input-placeholder {
	color: #999999;
	font-weight: 400;
}

.modal-feedback-field::-moz-placeholder {
	color: #999999;
	font-weight: 400;
}

.modal-feedback-field:-moz-placeholder {
	color: #999999;
	font-weight: 400;
}

.modal-feedback-field:-ms-input-placeholder {
	color: #999999;
	font-weight: 400;
}

.modal-feedback-field-area::-webkit-input-placeholder {
	color: #999999;
	font-weight: 400;
}

.modal-feedback-field-area::-moz-placeholder {
	color: #999999;
	font-weight: 400;
}

.modal-feedback-field-area:-moz-placeholder {
	color: #999999;
	font-weight: 400;
}

.modal-feedback-field-area:-ms-input-placeholder {
	color: #999999;
	font-weight: 400;
}

.modal-feedback-field:hover,
.modal-feedback-field-area:hover {
	padding: 0 12px;
	padding-top: 9px;
	padding-bottom: 7px; 
	
	border-color: rgba(154, 154, 154, 0.52);
	border-width: 2px;
}

.modal-feedback-field-area:hover {
	padding-top: 8px;
}

.modal-feedback-field:focus,
.modal-feedback-field-area:focus {
	padding: 0 12px;
	padding-top: 9px;
	padding-bottom: 7px; 

	outline: none;
	border-color: rgba(46, 136, 228, 0.52);
	border-width: 2px;
}

.modal-feedback-field-area:focus {
	padding-top: 8px;
}

.modal-feedback-form-button {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 138px;
	padding: 11px 14px;
	margin-left: auto;

	border-radius: 22px;
}

.modal-feedback-close  {
	position: absolute;
	right: 16px;
	top: 15px;

	width: 18px;
	height: 17px;
	
	background-color: transparent;
	background-image: url("../img/cross-big.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	border: 0;

	cursor: pointer;
}

